*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: arial;
    scroll-behavior: smooth;
}
/* nav */
nav{
    width: 100%;
    min-height: 80px;
    vertical-align: center;
    position: fixed;
    position: -webkit-sticky;
    top: 0%;
    background: #fff;
}
a:not(.acquista){
    text-decoration: none;
}
a:visited:not(.pulsante, .pulsante-piano, .acquista){
    color: #000;
}
nav ul li,
nav ul{
    display: inline-block;
}
nav ul li{
    margin: 0 30px;
}
.sx{
    float: left;
    vertical-align: middle;
    line-height: 80px;
}
.dx{
    float: right;
    vertical-align: middle;
    line-height: 80px;
}
header nav::after {
    clear: both;
    display: block;
    content: "";
}
/* pulsanti */
.pulsante{
    width: 100%;
    background: rgb(0, 68, 255);
    padding: 6px  20px;
    color: #fff;
}
/* jumbo */
.jumbotron{
    width: 100%;
    min-height: 750px;
    background: rgb(208, 219, 252);
    margin-top: 80px;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
}
/* dimensione immagine */
.jumbo img{
    width: 900px;
    height: 500px;
    float: right;
    margin: 50px;
}
.jumbotron h1{
    font-size: 70px;
    
}
.row{
    width: 25%;
    margin-top: 50px;
    float: left;
}
.row p:first-of-type{
    margin-bottom: 30px;
}
.row p:last-of-type{
    margin: 30px 0;
}
.row a:last-child{
    color: #000;
    font-size: 40px;
}
/* inizio main con i piani di acquisto */
main{
    width: 65%;
    margin: 150px auto;
}
#piani span{
    margin-right: 15px;
}
.piano-di-acquisto .titolo-piano{
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid lightgray;
}
.centro{
    width: 85%;
    margin: 0 auto;
}
.piano-di-acquisto{
    width: 300px;
    min-height: 1000px;
    border: 1px solid lightgray;
    margin: 30px 0;
    display: inline-block;
}
.centro1{
    margin: 0 150px;
}
#piani h1{
    margin: 50px 0;
    font-size: 40px;
}
.info-piano{
    margin: 40px 0;
}
.info-piano p,
.info-piano2 p{
    margin: 20px 0;
}
h3{
    margin: 15px 0;
}
.nome-piano{
    margin-top: 30px;
    margin-bottom: 40px;
}
.nome-piano p:last-child{
    color: gray;
}
.acquisto-piano{
    margin: 40px 0;
}
.acquisto-piano div:first-of-type{
    margin: px 0;
}
.pulsante-piano{
    width: 100%;
    background: rgb(0, 68, 255);
    padding: 8px  35px;
    color: #fff;
}
.acquista{
    color: rgb(0, 68, 255);
    margin-left: -15px;
}
.ora span{
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
}
.info-piano2{
    margin: 60px 0;
}
.info-piano2 i{
    color: rgb(0, 68, 255);
}
/* quarto piano */
.piano-di-acquisto1{
    width: 100%;
    min-height: 200px;
    border: 1px solid lightgray;
    margin: 30px 0;
    display: inline-block;
}
.centro2{
    width: 95%;
    margin: 0 auto;
}
.piano-di-acquisto1 .titolo-piano1{
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid lightgray;
}
.acquisto-piano1{
    float: right;
    display: inline-block;
}
.nome-piano1{
    margin-bottom: 30px;
    float: left;
}
.container2{
    margin-top: 20px;
}
.container2::after{
    clear: both;
    display: block;
    content: "";
}
/* sezione partner */
.container3{
    width: 100%;
    min-height: 600px;
    margin: 100px 0;
}
.sx1 img{
    width: 700px;
}
.sx1{
    width: 50%;
    height: 100%;
    float: left;
}
.dx1{
    width: 35%;
    height: 100%;
    float: right;
}
.dx1 h1{
    margin: 40px 0 30px 0;
}
.dx1 p{
    line-height: 20px;
    margin-bottom: 40px;
}

.partner{
    width: 100%;
    padding: 10px  20px;
    border: 1px solid black;
}
/* sezione funzioni */
.funzioni h1{
    font-size: 40px;
    margin-bottom: 50px;
}
.img1{
    width: 100%;
}
.card{
    width: 25%;
    display: inline-block;
    margin-right: 100px;
    margin-bottom: 100px;
}
.card-text h2{
    margin-bottom: 20px;
}
